name: Test

on: [push, pull_request]

jobs:
  lint:
    strategy:
      matrix:
        toxenv: [isort, flake8, black]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: 3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run tox - ${{ matrix.toxenv }}
        env:
          TOXENV: ${{ matrix.toxenv }}
        run: tox

  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox tox-gh-actions
      - name: Test with tox
        run: tox

  build:
    continue-on-error: true
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: 3

      - name: Install dependencies
        run: python -m pip install --upgrade setuptools wheel twine

      - name: Build Python packages
        run: python setup.py bdist_wheel sdist

      - name: twine check
        run: twine check dist/*

      - name: Upload Python packages artifact
        uses: actions/upload-artifact@v4
        with:
          name: Python Packages
          path: dist
